@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --font-family: "Montserrat", sans-serif;

  /* Cores dos campos do formulário */
  --form-text-color: #0a224a;
  --form-field-bg-color: #f2f1ff;
  --form-field-border-color: #0a224a;
  --form-paragraph-color: #979797;

  /* Cores do botão "Melhorar com IA" */
  --button-ai-bg-color: #0a224a;
  --button-ai-text-color: #ffffff;

  /* Cores dos botões "Adicionar Habilidade/Experiência" */
  --button-add-skill-bg-color: #ffffff;
  --button-add-skill-border-color: #0a224a;
  --button-add-skill-text-color: #0a224a;
}

body {
  font-family: var(--font-family);
}

.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}
